.body
  .header
  .container
    %h2
      Login

    = form_for(:session, url: 'sessions#create') do |f|
      .form-group
        = f.label :email
        = f.email_field :email, class: 'form-control'

      .form-group
        = f.label :password
        = f.password_field :password, class: 'form-control'

      .form-group
        = f.submit 'Login', class: 'btn btn-primary', onclick: "location.href='#{surprise_path}'"

      %a{href: new_user_path, class: "button"} Registrieren